html, body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: black;
  color: black;
}

    .about-section {
      padding: 60px 20px;
      max-width: 1000px;
      margin: auto;
      text-align: center;
    }

    h1 {
      font-size: 40px;
      color: #f5c518;
      margin-bottom: 20px;
    }

    p {
      line-height: 1.8;
      font-size: 18px;
      color: #ddd;
    }

    .highlight {
      color: #f5c518;
      font-weight: bold;
    }

    .box {
      margin-top: 40px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      background: #1c1c1c;
      padding: 25px;
      width: 260px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255,255,255,0.1);
      transition: 0.3s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h3 {
      color: #f5c518;
    }
    footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 15px;

}